
  
.image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .image-container img {
    width: 48%; /* Adjust width as needed */
  }
 
.quantity-container {
  display: flex;
  align-items: center;
  flex-direction: column; /* Align items vertically */
  margin-top: 10px;
}

.quantity-container ion-item {
  --padding-start: 0; /* Remove default padding */
  --padding-end: 0; /* Remove default padding */
}

.quantity-container ion-button {
  --border-radius: 0; /* Remove default button border-radius */
  --background: none; /* Remove default button background */
  font-size: 1.5rem;
  padding: 5px 10px; /* Adjust button padding */
  margin: 5px 0; /* Add margin between buttons */
}

.quantity-container ion-input {
  width: 60px;
  text-align: center;
}
ion-toolbar {
  --background: linear-gradient(to right, #4CAF50, #2196F3); /* Background color gradient */
  color: #fff; /* Text color */
  padding-top: 10px; /* Add some padding to the top */
}
  /* Apply the animation to the avatar image */
ion-avatar img {
  animation: blink 4s infinite;
  height:30px;
  width:30px;
 margin-left: 10px;
margin-top: 16px;
   /* Adjust the duration and other properties as needed */
}
/* Styles for the cart badge */
/* Styles for the ion-badge */
ion-badge {
  --background: red; /* Change the background color */
  --color: white; /* Change the text color */
  font-size: 14px; /* Adjust the font size */
  font-weight: bold; /* Make the font bold */
  padding: 4px 8px; /* Add padding to the badge */
  border-radius: 50%; /* Make the badge circular */
  position: absolute; /* Position the badge */
  top: 5px; /* Adjust the top position */
  right: 10px; /* Adjust the right position */
}
