<ion-content>
  <div style="background-color: whitesmoke; padding: 10px;">
    <b style="font-size: large;">Specifications Of Healthcare Supplies</b>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let item of dataSource">
          <ion-card (click)="navigateToPage(item.id)" style="width: 150px; height: 250px;" class="ion-card">
            <ion-img [src]="item.imageUrl" alt="Card Image" style="height: 150px; width: 100%;"></ion-img>
            <br>
            <ion-card-subtitle style="margin-left: 25px; font-size: 0.8em;">
              <b>{{ item.title }}</b>
              <p style="color: green; font-size: larger;">{{ item.discount }}</p>
            </ion-card-subtitle>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
