<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Indoor Insect and Pets Control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- First Card -->
  <ion-row>
    <ion-col size="auto" style="margin-right: 5px;">
      <ion-item (click)="navigateTo('ant')">
        <ion-card style="margin-right: 10px;width: 200px;height: auto;" class="ion-card">
          <ion-img src="https://rukminim2.flixcart.com/image/612/612/l0fm07k0/insect-repellent/z/0/c/crawling-insect-killer-for-ant-bedbug-snail-cockroach-with-original-imagc88zmajjkz9z.jpeg?q=70" alt="Card Image" style="height: 100px; width: 100px;margin-left: 10px;"></ion-img>
          <ion-card-subtitle style="margin-left: 15px;">
            <b>Ant Powder</b>
            <p style="color: green; font-size: large;">₹173 <span style="text-decoration: line-through;">221</span></p>
            <p style="color: red; margin: 0;">27% Off</p>
          </ion-card-subtitle>
          <div style="display: flex; justify-content: center; align-items: center; padding-bottom: 10px;">
          
              <ion-icon name="cart-outline"></ion-icon>add to cart
           
          </div>
        </ion-card>
      </ion-item>
    </ion-col>

    <!-- Second Card -->
    <ion-col size="auto" style="margin-right: 5px;">
      <ion-item (click)="navigateTo('bleaching')">
        <ion-card style="margin-right: 10px;width: 200px;height: auto;" class="ion-card">
          <ion-img src="https://rukminim2.flixcart.com/image/612/612/xif0q/toilet-cleaner/v/e/s/na-3000-lg-bleaching-powder-3kg-1-lavishgrow-original-imagver744rx2zdu.jpeg?q=70" alt="Card Image" style="height: 100px; width: 100px;margin-left: 10px;"></ion-img>
          <ion-card-subtitle style="margin-left: 15px;">
            <b>Bleaching Powder</b>
            <p style="color: green; font-size: large;">₹173 <span style="text-decoration: line-through;">221</span></p>
            <p style="color: red; margin: 0;">27% Off</p>
          </ion-card-subtitle>
          <div style="display: flex; justify-content: center; align-items: center; padding-bottom: 10px;">
            
              <ion-icon name="cart-outline"></ion-icon>add to cart
           
          </div>
        </ion-card>
      </ion-item>
    </ion-col>
  </ion-row> <!-- First Row -->
</ion-content>
